:root {
    --login-button:#72C9D2;
    --login-setting-tag-bg:#EAEAEA;
    --login-setting-tag-word:#000;
    --login-setting-tag-active-bg:#72C9D2;
    --login-setting-tag-active-word:#fff;
    --login-setting-bg-border:#B5E2E5;
    --login-theme-active-index:#B5E2E5;
    --nav-bg: #B5E2E5;
    --nav-word: #ffffff;
    --nav-current-bg: #96CAD7;
    --nav-current-word: #4F7A9A;
    --main-bg: #F9FBFC;
    --main-child-bg: #ffffff;
    --main-child-title: #4F7A9A;
    --scroll: #E6F2F1;
    --date-word: #4F7A9A;
    --date-month-bg: #FCF3EC;
    --date-time-bg: #f1f1f1;
    --date-current-word: #ffffff;
    --date-current-bg: #B5E2E5;
    --date-not-in-month:#dddddd;
    --date-clock-bg:#E6F2F1;
    --date-clock-border:#B5E2E5;
    --date-clock-pointer:#4F7A9A;
    --search-word:#4F7A9A;
    --scope-date-bg: #F9F9F9;
    --scope-date-word: #72C9D0;
    --scope-date-isolate-word: #4F7A9A;
    --scope-date-year-month:#72C9D0;
    --scope-date-week:#4F7A9A;
    --scope-date-day:#4F7A9A;
    --scope-date-active-bg:#B5E2E5;
    --scope-date-active-word:#ffffff;
    --charts-line-color:#72C9D0;
    --charts-line2-color:#FF9D9D;
    --finish-word: #72C9D0;
    --finish-time-word: #818181;
    --finish-child-bg: #F9F9F9;
    --finish-child-word: #72C9D0;
    --todo-add-bg: #ffffff;
    --todo-add-word: #4F7A9A;
    --todo-add-border: #B5E2E5;
    --todo-button-bg: #B5E2E5;
    --todo-button-word: #ffffff;
    --todo-button-border: #96CAD7;
    --todo-delete-button-bg: #FF9D9D;
    --todo-child-word: #4F7A9A;
    --todo-child-bg: #F9F9F9;
    --todo-child-checkbox-bg: #ffffff;
    --todo-child-checkbox-border: #B5E2E5;
    --todo-child-checkbox-checked: #B5E2E5;
    --myinfo-bg: #ffffff;
    --myinfo-name: #000000;
    --myinfo-subname: #94CAE8;
    --myinfo-child-bg: #ffffff;
    --myinfo-child-border: #D3D3D3;
    --myinfo-child-word: #4c4c4c;
    --myinfo-child-subword: #8B8A8A;
    --myinfo-timeline: #72C9D2;
    --myinfo-showhide-button: #F3F3F3;
    --myinfo-address-title:#4F7A9A;
    --myinfo-address-border:#B5E2E5;
    --myinfo-address-word:#B5E2E5;

    --setting-title:#4F7A9A;
    --setting-main-title:#4F7A9A;
    --setting-nav-bg:#ffffff;
    --setting-nav-word:#B5E2E5;
    --setting-current-border:#B5E2E5;
}