:root {
    --login-button:#464E61;
    --login-setting-tag-bg:#EAEAEA;
    --login-setting-tag-word:#000;
    --login-setting-tag-active-bg:#464E61;
    --login-setting-tag-active-word:#fff;
    --login-setting-bg-border:#464E61;
    --login-theme-active-index:#42445D;
    --nav-bg: #464E61;
    --nav-word: #ffffff;
    --nav-current-bg: #9CA4B7;
    --nav-current-word: #000000;
    --main-bg: #42445D;
    --main-child-bg: #464E61;
    --main-child-title: #FFFFFF;
    --scroll: #F0F0F0;
    --date-word: #FFFFFF;
    --date-month-bg: #42445D;
    --date-time-bg: #9CA4B7;
    --date-current-word: #464E61;
    --date-current-bg: #9CA4B7;
    --date-not-in-month:#dddddd;
    --date-clock-bg:#9CA4B7;
    --date-clock-border:#42445D;
    --date-clock-pointer:#FFFFFF;
    --date-shadow:#ffffff;
    --search-word:#FFFFFF;
    --scope-date-bg: #9CA4B7;
    --scope-date-word: #464E61;
    --scope-date-isolate-word: #FFFFFF;
    --scope-date-year-month:#464E61;
    --scope-date-week:#4F7A9A;
    --scope-date-day:#4F7A9A;
    --scope-date-active-bg:#9CA4B7;
    --scope-date-active-word:#ffffff;
    --charts-line-color:#9CA4B7;
    --charts-line2-color:#FF9D9D;
    --finish-word: #9CA4B7;
    --finish-time-word: #818181;
    --finish-child-bg: #9CA4B7;
    --finish-child-word: #464E61;
    --todo-add-bg: #42445D;
    --todo-add-word: #D0D0D0;
    --todo-add-border: #464E61;
    --todo-button-bg: #42445D;
    --todo-button-word: #ffffff;
    --todo-button-border: #464E61;
    --todo-delete-button-bg: #FF9D9D;
    --todo-child-word: #D0D0D0;
    --todo-child-bg: #42445D;
    --todo-child-checkbox-bg: #D0D0D0;
    --todo-child-checkbox-border: #464E61;
    --todo-child-checkbox-checked: #464E61;
    --myinfo-bg: #464E61;
    --myinfo-name: #ffffff;
    --myinfo-subname: #94CAE8;
    --myinfo-child-bg: #464E61;
    --myinfo-child-border: #D3D3D3;
    --myinfo-child-word: #ffffff;
    --myinfo-child-subword: #B0B0B0;
    --myinfo-timeline: #A8B2D6;
    --myinfo-showhide-button: #F3F3F3;
    --myinfo-address-title:#ffffff;
    --myinfo-address-border:#B0B0B0;
    --myinfo-address-word:#B0B0B0;

    --setting-title:#464E61;
    --setting-main-title:#9CA4B7;
    --setting-nav-bg:#9CA4B7;
    --setting-nav-word:#ffffff;
    --setting-current-border:#ffffff;
}