:root {
    --login-button:#EBA6AA;
    --login-setting-tag-bg:#EAEAEA;
    --login-setting-tag-word:#000;
    --login-setting-tag-active-bg:#EBA6AA;
    --login-setting-tag-active-word:#fff;
    --login-setting-bg-border:#FFE7E6;
    --login-theme-active-index:#FFE7E6;
    --nav-bg: #FFE7E6;
    --nav-word: #ffffff;
    --nav-current-bg: #F5D8D8;
    --nav-current-word: #EBA6AA;
    --main-bg: #F9FBFC;
    --main-child-bg: #ffffff;
    --main-child-title: #EBA6AA;
    --scroll: #FCF3EC;
    --date-word: #EBA6AA;
    --date-month-bg: #FFFCF9;
    --date-time-bg: #FFFCF9;
    --date-current-word: #ffffff;
    --date-current-bg: #FFE7E6;
    --date-not-in-month:#dddddd;
    --date-clock-bg:#FCF3EC;
    --date-clock-border:#F5D8D8;
    --date-clock-pointer:#EBA6AA;
    --search-word:#EBA6AA;
    --scope-date-bg: #F9F9F9;
    --scope-date-word: #fececc;
    --scope-date-isolate-word: #EBA6AA;
    --scope-date-year-month:#72C9D0;
    --scope-date-week:#FFE7E6;
    --scope-date-day:#EBA6AA;
    --scope-date-active-bg:#FFE7E6;
    --scope-date-active-word:#ffffff;
    --charts-line-color:#CA6260;
    --charts-line2-color:#fdc791;
    --finish-word: #EBA6AA;
    --finish-time-word: #818181;
    --finish-child-bg: #FFFCF9;
    --finish-child-word: #EBA6AA;
    --todo-add-bg: #ffffff;
    --todo-add-word: #EBA6AA;
    --todo-add-border: #F5D8D8;
    --todo-button-bg: #F5D8D8;
    --todo-button-word: #ffffff;
    --todo-button-border: #EDCBD2;
    --todo-delete-button-bg: #FF9D9D;
    --todo-child-word: #EBA6AA;
    --todo-child-bg: #FFFCF9;
    --todo-child-checkbox-bg: #ffffff;
    --todo-child-checkbox-border: #F5D8D8;
    --todo-child-checkbox-checked: #F5D8D8;
    --myinfo-bg: #ffffff;
    --myinfo-name: #000000;
    --myinfo-subname: #94CAE8;
    --myinfo-child-bg: #ffffff;
    --myinfo-child-border: #D3D3D3;
    --myinfo-child-word: #4c4c4c;
    --myinfo-child-subword: #8B8A8A;
    --myinfo-timeline: #F5D8D8;
    --myinfo-showhide-button: #F3F3F3;
    --myinfo-address-title:#EBA6AA;
    --myinfo-address-border:#ffccca;
    --myinfo-address-word:#ffccca;

    --setting-title:#EBA6AA;
    --setting-main-title:#EBA6AA;
    --setting-nav-bg:#ffffff;
    --setting-nav-word:#ffccca;
    --setting-current-border:#ffccca;
}